<launch>
 
 <!-- RVIZ  -->
   
    <!-- Load the URDF to the parameter server -->
    <!-- <param name="robot_description" textfile="$(find thesis_arm)/urdf/thesis_arm.urdf"/> -->
    <param name="robot_description" textfile="$(find bcr1_description)/urdf/bcr1_description.urdf"/>


    <!-- Show in Rviz (Default RViz Config)  -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bcr1_description)/basic.rviz"/> -->
    <!-- RViz Saved Config -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bcr1_moveit_config)/bcr1_rviz_config.rviz"/>
    

 <!-- CORE  -->

  <!-- Load controller settings  -->
    <rosparam file="$(find bcr1_control)/cfg/bcr1_controllers.yaml" command="load"/>


    <!-- Load hardware interface -->
    <node name="bcr1_hw_main" pkg="bcr1_control" type="bcr1_hw_main" output="screen"/> 

    <!-- Load controller manager  -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn joint_state_controller position_trajectory_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

   <!-- Simple Simulator-->
   <!-- <node name="bcr1_sim_echo" pkg="bcr1_control" type="bcr1_sim_echo"/> -->


 <!-- MOVEIT -->

    <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <!-- <include file="$(find thesis_arm_config)/launch/planning_context.launch"> -->
    <include file="$(find bcr1_moveit_config)/launch/planning_context.launch">

    <arg name="load_robot_description" value="true"/>
    </include>


    <!-- Remap follow_joint_trajectory -->
    <remap from="/joint_trajectory_action" to="/position_trajectory_controller/follow_joint_trajectory"/>
  

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <!-- <include file="$(find thesis_arm_config)/launch/move_group.launch"> -->
    <include file="$(find bcr1_moveit_config)/launch/move_group.launch">

    <!-- Setting default planning pipelne pilz with PTP -->
    <arg name="pipeline" value="pilz_industrial_motion_planner" />

    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="info" value="true"/> 
    </include>

    <!-- <rosparam command="load" file="$(find thesis_arm_config)/config/joint_limits.yaml"/> -->
    <!-- <rosparam command="load" file="$(find thesis_arm_config)/config/cartesian_limits.yaml"/> -->

    <rosparam command="load" file="$(find bcr1_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find bcr1_moveit_config)/config/cartesian_limits.yaml"/>


    
<!-- HARDWARE -->

    <!-- rosserial to arduino(ATmega2560) -->
    <!-- <node name="serial_node"        pkg="rosserial_arduino"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>
    <param name="baud"              type="int"                  value="115200"/>
    </node> -->
  
</launch>